:root {
  --title-color: #212121;
  --text-color: #757575;
  --accent-color: #2196F3;
  --neutral-color: #fff;
  --logo-color: #2F303A;
  --neutral-bgc: #F5F4FA;
  --border: #EEEEEE;
  --bgc-portfolio: #E5E5E5;
  --border-portfolio: #ECECEC;
  --footer-white: rgba(255, 255, 255, 0.6);
  --icons: #AFB1B8;
  --bgc-footer-sl: rgba(255, 255, 255, 0.1);
  --bgc-psel: rgba(47, 48, 58, 0.8);
  --bgc-backdrop-modal: rgba(0, 0, 0, 0.2);
  --border-modal: rgba(0, 0, 0, 0.1);
  --text-gallery: rgba(33, 150, 243, 0.9);
  --tran-hover: cubic-bezier(0.4, 0, 0.2, 1);
  --border-modal: rgba(33, 33, 33, 0.2);
  --form-title: rgba(33, 33, 33, 1);
  --modal-label: rgba(117, 117, 117, 1);
  --modal-warning: #fed070;
  --modal-error: #e22f37;
  --footer-input-border: rgba(255, 255, 255, 0.3);
  --hover-button: #188CE8;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h3 {
  font-size: 14;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--title-color);
  background-color: var(--neutral-color);
  letter-spacing: 0.03em;
  font-size: 14px;
}

.section {
  padding: 60px 0px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0px;
  }
}

.title {
  color: --var(--title-color);
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
  color: inherit;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1280px;
  }
}

.submit-button {
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  font-family: inherit;
  background: var(--accent-color);
  color: var(--neutral-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.86;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-radius: 4px;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: background-color 250ms var(--tran-hover), -webkit-box-shadow 250ms var(--tran-hover);
  transition: background-color 250ms var(--tran-hover), -webkit-box-shadow 250ms var(--tran-hover);
  transition: background-color 250ms var(--tran-hover), box-shadow 250ms var(--tran-hover);
  transition: background-color 250ms var(--tran-hover), box-shadow 250ms var(--tran-hover), -webkit-box-shadow 250ms var(--tran-hover);
}
.submit-button:hover, .submit-button:focus {
  background-color: var(--hover-button);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.hero-button {
  padding-right: 32px;
  padding-left: 32px;
}

.modal-button {
  padding-right: 56px;
  padding-left: 55px;
}

.portfoliobtn-list__btn {
  display: inline-block;
  padding: 6px 22px 6px 22px;
  font-family: "Roboto", sans-serif;
  background-color: var(--neutral-bgc);
  color: var(--title-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: background-color 250ms var(--tran-hover), color 250ms var(--tran-hover), -webkit-box-shadow 250ms var(--tran-hover);
  transition: background-color 250ms var(--tran-hover), color 250ms var(--tran-hover), -webkit-box-shadow 250ms var(--tran-hover);
  transition: background-color 250ms var(--tran-hover), color 250ms var(--tran-hover), box-shadow 250ms var(--tran-hover);
  transition: background-color 250ms var(--tran-hover), color 250ms var(--tran-hover), box-shadow 250ms var(--tran-hover), -webkit-box-shadow 250ms var(--tran-hover);
}
.portfoliobtn-list__btn:hover, .portfoliobtn-list__btn:focus {
  background-color: var(--accent-color);
  color: var(--neutral-color);
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-bottom__text {
  font-size: 18px;
  line-height: 1.56;
  color: var(--neutral-color);
  text-align: left;
}

.box-gallery {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project-bottom__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.project-bottom__text {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.86;
}

.project-bottom {
  padding: 22px 21px;
  border: 1px solid var(--border);
  border-radius: 4px;
  border-top: 0;
}

.footer-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding-right: 28px;
  padding-left: 29px;
}

.footer-button__text {
  margin-right: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.86;
  letter-spacing: 0.06em;
}

.logo {
  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

.accent {
  color: var(--logo-color);
}

.hero-button {
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  font-family: inherit;
  background: var(--accent-color);
  color: var(--neutral-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.86;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-radius: 4px;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: background-color 250ms var(--tran-hover), -webkit-box-shadow 250ms var(--tran-hover);
  transition: background-color 250ms var(--tran-hover), -webkit-box-shadow 250ms var(--tran-hover);
  transition: background-color 250ms var(--tran-hover), box-shadow 250ms var(--tran-hover);
  transition: background-color 250ms var(--tran-hover), box-shadow 250ms var(--tran-hover), -webkit-box-shadow 250ms var(--tran-hover);
  padding-right: 32px;
  padding-left: 32px;
}
.hero-button:hover {
  color: var(--neutral-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 1;
  width: 100%;
  height: 100%;
  background-color: var(--bgc-backdrop-modal);
  -webkit-transition: opacity 250ms var(--tran-hover), visibility 250ms var(--tran-hover);
  transition: opacity 250ms var(--tran-hover), visibility 250ms var(--tran-hover);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal-wrapper {
  position: absolute;
  top: 50%;
  right: 50%;
  -webkit-transform-origin: top;
          transform-origin: top;
  padding: 40px;
  -webkit-transform: translate(50%, -50%) scale(1);
          transform: translate(50%, -50%) scale(1);
  border-radius: 20px;
  width: 528px;
  background-color: var(--neutral-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition: -webkit-transform 250ms var(--tran-hover);
  transition: -webkit-transform 250ms var(--tran-hover);
  transition: transform 250ms var(--tran-hover);
  transition: transform 250ms var(--tran-hover), -webkit-transform 250ms var(--tran-hover);
}

.cross-wrap {
  fill: var(--text-color);
  -webkit-transition: fill 250ms var(--tran-hover);
  transition: fill 250ms var(--tran-hover);
}

.modal-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid var(--border-modal);
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
}
.modal-btn:focus-within .cross-wrap {
  fill: var(--accent-color);
}
.modal-btn:hover .cross-wrap {
  fill: var(--accent-color);
}

.form-title {
  display: block;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.7;
  color: var(--form-title);
  text-align: center;
  margin-bottom: 12px;
}

.form-modal-group,
.form-policy-group {
  display: block;
  margin-bottom: 10px;
}

.form-modal-group {
  position: relative;
}

.form-modal-label {
  display: block;
  color: var(--modal-label);
  font-size: 12px;
  text-align: left;
  margin-bottom: 4px;
  line-height: 1.17;
}

.form-modal-input {
  width: 100%;
  padding: 11px 42px;
  border-radius: 4px;
  border: 1px solid var(--border-modal);
  outline: transparent;
  cursor: pointer;
  -webkit-transition: border-color 250ms var(--tran-hover);
  transition: border-color 250ms var(--tran-hover);
}
.form-modal-input:hover, .form-modal-input:focus {
  border-color: var(--accent-color);
}
.form-modal-input:focus ~ .warning {
  opacity: 1;
}
.form-modal-input:focus-within .form-modal-icon {
  fill: var(--accent-color);
}
.form-modal-input:not(:-moz-placeholder-shown) ~ .warning {
  opacity: 0;
}
.form-modal-input:not(:-ms-input-placeholder) ~ .warning {
  opacity: 0;
}
.form-modal-input:not(:placeholder-shown) ~ .warning {
  opacity: 0;
}
.form-modal-input:invalid ~ .error {
  opacity: 1;
}

.form-modal-group:hover .form-modal-icon {
  fill: var(--accent-color);
}

.form-modal-icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
  -webkit-transition: fill 250ms var(--tran-hover);
  transition: fill 250ms var(--tran-hover);
  cursor: pointer;
}

.error {
  opacity: 0;
  color: var(--modal-error);
}

.warning {
  opacity: 0;
  color: var(--modal-warning);
}

.warning,
.error {
  position: absolute;
  bottom: -18px;
  left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: left;
  width: 90%;
  font-size: 10px;
  -webkit-transition: opacity 250ms var(--tran-hover);
  transition: opacity 250ms var(--tran-hover);
}

.warning-icon,
.error-icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  fill: currentColor;
}

.form-modal-textarea {
  width: 100%;
  padding: 12px 16px;
  border-radius: 4px;
  border: 1px solid var(--border-modal);
  resize: none;
  outline: none;
  -webkit-transition: border 250ms var(--tran-hover);
  transition: border 250ms var(--tran-hover);
  margin-bottom: 20px;
}
.form-modal-textarea:focus, .form-modal-textarea:hover {
  border: 1px solid var(--accent-color);
}

.modal-field {
  color: currentColor;
  outline: 1px solid var(--border-modal);
  -webkit-transition: color 250ms var(--tran-hover), outline 250ms var(--tran-hover);
  transition: color 250ms var(--tran-hover), outline 250ms var(--tran-hover);
}
.modal-field:hover, .modal-field:focus {
  color: var(--accent-color);
  outline-color: var(--accent-color);
  border: none;
}

/************************ checkbox */
.form-policy-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
  cursor: pointer;
}

.form-policy-description,
.modal-text-desc {
  line-height: 1.71;
  color: var(--text-color);
}

.modal-text-desc {
  color: var(--accent-color);
}

.form-policy-description {
  margin-left: 7px;
}

.custom-checkbox {
  width: 16px;
  height: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  outline: 2px solid var(--logo-color);
  outline-offset: -2px;
  border-radius: 2px;
  -webkit-transition: background-color 250ms var(--tran-hover), outline 250ms var(--tran-hover);
  transition: background-color 250ms var(--tran-hover), outline 250ms var(--tran-hover);
}

.checkbox {
  display: block;
  text-align: left;
}
.checkbox:checked + .custom-checkbox .custom-checkbox-icon {
  opacity: 1;
  fill: var(--logo-color);
}
.checkbox:checked + .custom-checkbox {
  background-color: var(--accent-color);
  outline: 2px solid var(--accent-color);
}
.checkbox:focus + .custom-checkbox, .checkbox:hover + .custom-checkbox {
  outline: 2px solid var(--accent-color);
}

.custom-checkbox-icon {
  opacity: 0;
  -webkit-transition: opacity 250ms var(--tran-hover);
  transition: opacity 250ms var(--tran-hover);
}

.contact-list {
  padding-bottom: 32px;
  padding-top: 32px;
}
@media screen and (max-width: 767px) {
  .contact-list {
    display: none;
  }
}

.contact-list__link {
  color: var(--text-color);
  font-weight: 500;
  line-height: 1.1;
  text-decoration: none;
}

.contact-list__item {
  margin-right: 50px;
}
.contact-list__item:last-child {
  margin-right: 0;
}

.contact-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--text-color);
  -webkit-transition: color 250ms var(--tran-hover);
  transition: color 250ms var(--tran-hover);
  font-weight: 500;
  line-height: 1.1;
  text-decoration: none;
}
.contact-list__link:hover, .contact-list__link:focus {
  color: var(--accent-color);
}

.contact-list__icon {
  fill: currentColor;
  margin-right: 10px;
  -webkit-transition: fill 250ms var(--tran-hover);
  transition: fill 250ms var(--tran-hover);
}

.formfooter-container {
  margin-left: auto;
}
.formfooter__title {
  color: var(--neutral-color);
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.17;
}
@media screen and (max-width: 767px) {
  .formfooter__title {
    text-align: center;
  }
}

.formfooter__input {
  width: 358px;
  padding: 15px 16px;
  border-radius: 4px;
  border: 1px solid var(--footer-input-border);
  background-color: var(--logo-color);
  color: var(--neutral-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: border 250ms var(--tran-hover);
  transition: border 250ms var(--tran-hover);
}
.formfooter__input:focus {
  border: 1px solid var(--accent-color);
}
@media screen and (max-width: 767px) {
  .formfooter__input {
    margin-bottom: 20px;
  }
}

.formfooter {
  margin-top: 20px;
}
@media screen and (max-width: 767px) {
  .formfooter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.formfooter__label {
  margin-right: 12px;
}

.portfoliobtn-list {
  margin-bottom: 50px;
}
@media screen and (max-width: 767px) {
  .portfoliobtn-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (max-width: 767px) {
  .portfoliobtn-list__item {
    margin-right: 30px;
    margin-bottom: 21px;
  }
}

.project-cont {
  width: 1230px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 94px;
  padding-left: 15px;
  padding-right: 15px;
}

.projects-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.project-list__item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  position: relative;
  background-color: var(--neutral-color);
}
.project-list__item:nth-child(3n) {
  margin-right: 0;
}

.project-list__image {
  margin: 0;
  overflow: hidden;
}

.project-list__link {
  display: block;
  -webkit-transition: -webkit-box-shadow 250ms var(--tran-hover);
  transition: -webkit-box-shadow 250ms var(--tran-hover);
  transition: box-shadow 250ms var(--tran-hover);
  transition: box-shadow 250ms var(--tran-hover), -webkit-box-shadow 250ms var(--tran-hover);
}
.project-list__link:hover, .project-list__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.project-list__link:hover .project-list__text, .project-list__link:focus .project-list__text {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  opacity: 1;
}

.project-list__text {
  position: absolute;
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 1.55;
  color: var(--neutral-color);
  background-color: var(--text-gallery);
  opacity: 0;
  -webkit-transition: opacity 250ms var(--tran-hover), -webkit-transform 250ms var(--tran-hover);
  transition: opacity 250ms var(--tran-hover), -webkit-transform 250ms var(--tran-hover);
  transition: transform 250ms var(--tran-hover), opacity 250ms var(--tran-hover);
  transition: transform 250ms var(--tran-hover), opacity 250ms var(--tran-hover), -webkit-transform 250ms var(--tran-hover);
}

.project-overlay {
  position: relative;
  overflow: hidden;
}

.socnetfooter-list__link {
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-transition: background-color 250ms var(--tran-hover);
  transition: background-color 250ms var(--tran-hover);
}
.socnetfooter-list__link:hover .socnetfooter-list__icon, .socnetfooter-list__link:focus .socnetfooter-list__icon {
  fill: var(--neutral-color);
}
.socnetfooter-list__link:hover, .socnetfooter-list__link:focus {
  background-color: var(--accent-color);
}

.socnetfooter__title {
  color: var(--neutral-color);
  line-height: 1.17;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}
@media screen and (max-width: 767px) {
  .socnetfooter__title {
    text-align: center;
  }
}

.socnetfooter-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 767px) {
  .socnetfooter-list {
    margin-bottom: 60px;
  }
}

.socnetfooter-list__icon {
  fill: var(--neutral-color);
  -webkit-transition: fill 250ms var(--tran-hover);
  transition: fill 250ms var(--tran-hover);
}
.socnetfooter-list__icon:active {
  fill: var(--neutral-color);
}

.socnetfooter-list__item {
  background-color: var(--bgc-footer-sl);
  border-radius: 50%;
  -webkit-transition: background-color 250ms var(--tran-hover), border-radius 250ms var(--tran-hover);
  transition: background-color 250ms var(--tran-hover), border-radius 250ms var(--tran-hover);
}
.socnetfooter-list__item:not(:last-child) {
  margin-right: 10px;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px;
  background-color: var(--neutral-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mobile-menu__contacts {
  margin-top: auto;
}

.header {
  border-bottom: 1px solid var(--border-portfolio);
}

.sec-header {
  padding-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .header-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.navigation-container {
  margin-right: auto;
}
@media screen and (max-width: 767px) {
  .navigation-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.nav-adress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  padding-right: 0;
}

.portfolio-ph {
  margin-bottom: 94px;
}

.menu-button {
  width: 40px;
  height: 40px;
  padding: 0;
  background-color: none;
}
@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.hero-section {
  background-color: var(--logo-color);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/images_studio/bgi_hero.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/images_studio/bgi_hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  height: 600px;
}
@media screen and (max-width: 767px) {
  .hero-section {
    max-width: 480px;
    height: 400px;
    padding-bottom: 118px;
    height: auto;
  }
}

.hero-title {
  margin-right: auto;
  margin-left: auto;
  width: 696px;
  margin-bottom: 40px;
  color: var(--neutral-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  .hero-title {
    font-size: 26px;
    line-height: 1.61;
    width: auto;
  }
}

@media screen and (min-width: 768px) {
  .features-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}
@media screen and (min-width: 1200px) {
  .features-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.feature-list__title {
  margin-bottom: 10px;
}
@media screen and (max-width: 767px) {
  .feature-list__title {
    text-align: center;
  }
}

.feature-list__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--text-color);
  line-height: 1.71;
}

@media screen and (max-width: 767px) {
  .feature-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.feature-list__container {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
  background-color: var(--neutral-bgc);
  border-radius: 4px;
  margin-bottom: 30px;
}
@media screen and (max-width: 480px) {
  .feature-list__container {
    max-width: 450px;
  }
}

@media screen and (max-width: 1279px) {
  .service-container {
    display: none;
  }
}

.service-section__title {
  margin-bottom: 50px;
  margin-top: 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.service-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.service-list__item {
  position: relative;
  margin-right: 30px;
}
.service-list__item:last-child {
  margin-right: 0;
}

.service-list__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.17;
  color: var(--neutral-color);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: var(--bgc-psel);
}

@media screen and (min-width: 768px) {
  .team-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 1280px) {
  .team-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.team-list__item {
  background-color: var(--neutral-color);
}
@media screen and (min-width: 768px) {
  .team-list__item {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
@media screen and (max-width: 767px) {
  .team-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.team-section {
  background-color: var(--neutral-bgc);
}

.team-section__title {
  color: var(--title-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.teambottom__title {
  color: var(--title-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 10px;
}

.teambottom__text {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 16px;
}

.teambottom-container {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.teambottom-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color 250ms var(--tran-hover);
  transition: background-color 250ms var(--tran-hover);
}

.teambottom-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 50%;
  -webkit-transition: background-color 250ms var(--tran-hover), fill 250ms var(--tran-hover), -webkit-box-shadow 250ms var(--tran-hover);
  transition: background-color 250ms var(--tran-hover), fill 250ms var(--tran-hover), -webkit-box-shadow 250ms var(--tran-hover);
  transition: background-color 250ms var(--tran-hover), fill 250ms var(--tran-hover), box-shadow 250ms var(--tran-hover);
  transition: background-color 250ms var(--tran-hover), fill 250ms var(--tran-hover), box-shadow 250ms var(--tran-hover), -webkit-box-shadow 250ms var(--tran-hover);
}
.teambottom-list__link:hover, .teambottom-list__link:focus {
  fill: var(--neutral-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.teambottom-list__link:hover .teambottom-list__icon, .teambottom-list__link:focus .teambottom-list__icon {
  fill: var(--neutral-color);
}

.teambottom-list__item {
  background-color: var(--footer-white);
  border-radius: 50%;
  -webkit-transition: background-color 250ms var(--tran-hover);
  transition: background-color 250ms var(--tran-hover);
}
.teambottom-list__item:hover, .teambottom-list__item:focus {
  background-color: var(--accent-color);
}
.teambottom-list__item:not(:last-child) {
  margin-right: 10px;
}

.teambottom-list__icon {
  fill: var(--icons);
  -webkit-transition: fill 250ms var(--tran-hover);
  transition: fill 250ms var(--tran-hover);
}

.clients-section__title {
  color: var(--title-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

@media screen and (max-width: 767px) {
  .clients-list {
    margin: -15px;
  }
}

.clients-list__item {
  border: 1px solid var(--icons);
  border-radius: 4px;
  -webkit-transition: border-color 250ms var(--tran-hover);
  transition: border-color 250ms var(--tran-hover);
}
@media screen and (max-width: 767px) {
  .clients-list__item {
    width: calc(100% - 30px);
    margin: 15px;
  }
}

.clients-list__item:hover,
.clients-list__item:focus {
  border-color: var(--accent-color);
}

.clients-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  height: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.clients-list__link:hover .clients-list__icon, .clients-list__link:focus .clients-list__icon {
  fill: var(--accent-color);
}
.clients-list__link:hover .clients-list__icon, .clients-list__link:focus .clients-list__icon {
  fill: var(--accent-color);
}

.clients-list__icon {
  fill: var(--icons);
  -webkit-transition: fill 250ms var(--tran-hover);
  transition: fill 250ms var(--tran-hover);
}
.clients-list__icon:active {
  fill: var(--logo-color);
}

.footer {
  background-color: var(--logo-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (max-width: 767px) {
  .footer {
    padding: 60px 15px;
  }
}

.adress-list .link {
  color: var(--footer-white);
  line-height: 1.1;
  text-decoration: none;
  -webkit-transition: color 250ms var(--tran-hover);
  transition: color 250ms var(--tran-hover);
}

.accent-footer,
.adress {
  color: var(--neutral-color);
  text-decoration: none;
  -webkit-transition: color 250ms var(--tran-hover);
  transition: color 250ms var(--tran-hover);
}

.adress {
  margin-top: 20px;
  margin-right: 0;
}
@media screen and (max-width: 767px) {
  .adress {
    text-align: center;
  }
}

.adress-list__item {
  margin-bottom: 9px;
  margin-right: 0;
}
.adress-list__item:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 767px) {
  .adrfooter-div {
    margin-bottom: 60px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .logo-footer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 93px;
}
@media screen and (max-width: 767px) {
  .navigation-list {
    display: none;
  }
}
.navigation-list:last-child {
  margin-right: 0;
}

.navigation-list__link {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-color);
  font-weight: 500;
  line-height: 1.1;
  text-decoration: none;
  -webkit-transition: color 250ms var(--tran-hover);
  transition: color 250ms var(--tran-hover);
}
.navigation-list__link:hover, .navigation-list__link:focus {
  color: var(--accent-color);
}

.navigation-list__link--current {
  color: var(--accent-color);
  -webkit-transition: background-color 250ms var(--tran-hover);
  transition: background-color 250ms var(--tran-hover);
}
.navigation-list__link--current:after {
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 4px;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
}
.navigation-list__link--current:hover::after, .navigation-list__link--currentt:focus::after {
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  -webkit-transition: -webkit-transform 500ms var(--tran-hover);
  transition: -webkit-transform 500ms var(--tran-hover);
  transition: transform 500ms var(--tran-hover);
  transition: transform 500ms var(--tran-hover), -webkit-transform 500ms var(--tran-hover);
}

.adress:hover,
.adress:focus,
.adress-list .link:hover,
.adress-list .link:focus {
  color: var(--accent-color);
}

.navigation-list__item {
  margin-right: 50px;
}
.navigation-list__item:last-child {
  margin-right: 0;
}/*# sourceMappingURL=main.css.map */