:root {
    --title-color: #212121;
    --text-color: #757575;
    --accent-color: #2196F3;
    --neutral-color: #fff;
    --logo-color: #2F303A;
    --neutral-bgc: #F5F4FA;
    --border: #EEEEEE;
    --bgc-portfolio: #E5E5E5;
    --border-portfolio: #ECECEC;
    --footer-white: rgba(255, 255, 255, 0.6);
    --icons: #AFB1B8;
    --bgc-footer-sl: rgba(255, 255, 255, 0.1);
    --bgc-psel: rgba(47, 48, 58, 0.8);
    --bgc-backdrop-modal: rgba(0, 0, 0, 0.2);
    --border-modal: rgba(0, 0, 0, 0.1);
    --text-gallery: rgba(33, 150, 243, 0.9);
    --tran-hover: cubic-bezier(0.4, 0, 0.2, 1);
    --border-modal: rgba(33, 33, 33, 0.2);
    --form-title: rgba(33, 33, 33, 1);
    --modal-label: rgba(117, 117, 117, 1);
    --modal-warning: #fed070;
    --modal-error: #e22f37;
    --footer-input-border: rgba(255, 255, 255, 0.3);
    --hover-button: #188CE8;
}