.formfooter-container {
    margin-left: auto;
    @media screen and (max-width:767px) {
           
        }
}

.formfooter__title {
    color: var(--neutral-color);
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.17;
    @media screen and (max-width:767px) {
           text-align: center;
        }
}

.formfooter__input {
    width: 358px;
    padding: 15px 16px;
    border-radius: 4px;
    border: 1px solid var(--footer-input-border);
    background-color: var(--logo-color);
    color: var(--neutral-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: border 250ms var(--tran-hover);

    &:focus {
        border: 1px solid var(--accent-color);
    }
         @media screen and (max-width:767px) {
             margin-bottom: 20px;
         }
}

.formfooter {
    // display: flex;
    // justify-content: center;
    // align-items: center;
    margin-top: 20px;
    @media screen and (max-width:767px) {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }
}

.formfooter__label {
    margin-right: 12px;
   
}