.portfoliobtn-list {
    // display: flex;
    // justify-content: center;
    margin-bottom: 50px;
    @media screen and (max-width:767px){
        display: flex;
        flex-wrap: wrap;

    }


}



.portfoliobtn-list__item {
    // margin-right: 8px;

    // &:last-child {
    //     margin-right: 0;
    // }

        @media screen and (max-width:767px) {
           margin-right: 30px;
           margin-bottom: 21px;
    
        }
}