.portfoliobtn-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}



.portfoliobtn-list__item {
    margin-right: 8px;

    &:last-child {
        margin-right: 0;
    }
}