.socnetfooter-list__link {
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));
    transition: background-color 250ms var(--tran-hover);

    &:hover .socnetfooter-list__icon,
    &:focus .socnetfooter-list__icon {
        fill: var(--neutral-color);
    }

    &:hover,
    &:focus {
        background-color: var(--accent-color);
    }
}

.socnetfooter__title {
    color: var(--neutral-color);
    line-height: 1.17;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    margin-bottom: 20px;

    @media screen and (max-width:767px) {
            text-align: center;
        }
}

// .footer-container {
//     display: flex;
//     align-items: baseline;
// }

.socnetfooter-list {
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (max-width:767px) {
            margin-bottom: 60px;
        }
}

.socnetfooter-list__icon {
    fill: var(--neutral-color);
    transition: fill 250ms var(--tran-hover);

    &:active {
        fill: var(--neutral-color);
    }
}

.socnetfooter-list__item {
    background-color: var(--bgc-footer-sl);
    border-radius: 50%;
    transition: background-color 250ms var(--tran-hover), border-radius 250ms var(--tran-hover);

    &:not(:last-child) {
        margin-right: 10px;
    }
}