.features-section {
    padding-top: 94px;
    padding-bottom: 0;
}

.features-list {
    // display: flex;
   
    @media screen and (min-width:768px){
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }
 @media screen and (min-width:1280px) {
     display: flex;
    justify-content: center;
    align-items: center;
 }
}



.feature-list__title {
    margin-bottom: 10px;
    @media screen and (max-width:767px){
        text-align: center;
    }
}

.feature-list__text {
    width: 270px;
    margin-top: 0;
    margin-bottom: 0;
    color: var(--text-color);
    line-height: 1.71;
}

.feature-list__item {
    margin-right: 30px;

    &:last-child {
        margin-right: 0;
    }
}

.feature-list__item:not(:last-child){
    @media screen and (max-width:767px){
    margin-bottom: 30px;}
}

.feature-list__container {
    margin-right: 15px;
    background-color: var(--neutral-bgc);
    border-radius: 4px;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
    @media screen and (max-width:767px) {
        padding: 25px 190px;
    }
    @media screen and (min-width:768px){
        padding: 25px 142px;
    }
    @media screen and (min-width:1280px){
        padding: 25px 100px;
    }

}