.header {
    border-bottom: 1px solid var(--border-portfolio);
}


.sec-header {
    padding-bottom: 32px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    @media screen and (min-width: 768px){
        display: flex;
    }
}

.navigation-container {
    display:flex;
    align-items: center;
    @media screen and (max-width:767px){
        justify-content: space-between;
        padding-top: 16px;
        padding-bottom: 16px;

        .contact-list {
            display: none;
        }
    }
}

.nav-adress {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-right: 0;
}

.portfolio-ph {
    margin-bottom: 94px;
}

.menu-button{
    width: 40px;
    height: 40px;
    padding: 0;
    background-color: none;
    @media screen and (min-width: 768px){
        display: none;
    }
}