.navigation-list {
    display: flex;
    margin-left: 93px;

    @media screen and (max-width: 767px) {
            display: none;
    
        }

    &:last-child {
            margin-right: 0;
        }
}

.navigation-list__link {
    position: relative;

    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--title-color);
    font-weight: 500;
    line-height: 1.1;
    text-decoration: none;
    transition: color 250ms var(--tran-hover);

   &:hover,
&:focus
     {
            color: var(--accent-color);
        }
}

.navigation-list__link--current {
    color: var(--accent-color);
    transition: background-color 250ms var(--tran-hover);

    &:after {
            position: absolute;
            bottom: 0;
            left: 0;
            border-radius: 4px;
            content: '';
            display: block;
            width: 100%;
            height: 4px;
            background-color: var(--accent-color);
        }
    
        &:hover::after,
        &t:focus::after {
            transform: scale(0.5);
            transition: transform 500ms var(--tran-hover);
        }
}

.adress:hover,
.adress:focus,
.adress-list .link:hover,
.adress-list .link:focus {
    color: var(--accent-color);
}


.navigation-list__item {
    margin-right: 50px;

&:last-child {
margin-right: 0;
        }
}