
.service-container{
    @media screen and  (max-width: 1279px) {
        display: none;
        
    }
}

.service-section__title {
    margin-bottom: 50px;
    margin-top: 0;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;

}

.service-list {
    display: flex;
}

.service-list__item {
    position: relative;
    margin-right: 30px;

    &:last-child {
            margin-right: 0;
        }
}



.service-list__text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.17;
    color: var(--neutral-color);

    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 70px;

    background-color: var(--bgc-psel);
}